.text__accueil{
  margin: 230px auto 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 2rem;
}
.text__accueil__salut{
  opacity: 0;
  font-weight: 700;
  font-size: 50px;
}

.text__acueil__presentation{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  gap: 15px;
  margin: 10px auto;
}
.text__acueil__presentation span{
  opacity: 0;
}

.text__accueil__btn{
  margin: 20px auto;
  opacity: 0;
  display: inline-block;
  animation: popSite 0.5s ease-out 2s forwards;
  border-radius: 12px;
  text-decoration: none;
}

.text__accueil__btn span{
  border: 2px solid rgba(240, 240, 240, 0.8);
  display: inline-block;
  background: #0e0f0e;
  color: rgba(240, 240, 240, 0.8);
  padding: 18px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.15s ease-out , color 0.2s ease-out;
}

.text__accueil__btn span:hover{
  transform: scale(1.1);
  color: #fff;
}


.quiSuisje{
  opacity: 0;
  animation: popSite 0.5s ease-out 2s forwards;
  margin: 150px auto 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.quiSuisje h2{
  font-size: 2rem;
  font-weight: 700;
}

.quiSuisje__content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 50px auto;
}

.quiSuisje__content__img{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiSuisje__content__img__div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  border: 2px solid #fff;
  overflow: hidden;
}

.quiSuisje__content__img__div img{
  width: 100%;
  height: auto;
}

.quiSuisje__content__text{
  width: 50%;
}

.quiSuisje__content__text p{
  font-size: 18px;
  width: 90%;
}