*{
  box-sizing : border-box;
  margin :0;
  padding : 0;
  font-family : sans-serif;
}

body{
  background-color: #000;
}

header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px;
}

.header__nav{
  min-width: 70%;
  margin: 0px auto;
}
.header__menu{
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 18px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0px auto;
  list-style: none;
  font-size: 20px;
  padding: 0px 20px;
}

.header__img{
  position: absolute;
  top:20px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 125px;
  overflow: hidden;
}
.header__img img{
  width: 100%;
  height: auto;
}

.header__menu li{
  padding: 15px 0px;
}

.lien{
  display: inline-block;
  color: rgba(240, 240, 240, 0.8);
  text-decoration: none;
  transition : color 0.2s ease-out , transform 0.2s ease-out;
}